<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/swiper" title="">查看swiper的几个应用列子</a>
    <div class="vertical-container">
      <div class="vertical-center">CSS里总算是有了一种简单的垂直居中布局的方法了</div>
    </div>
  </body>
</html>
